.column{
    float: left;
    height: 50px;
    width: 30%;
    background-color: black;
    margin: 10px;
}

@media (max-width: 991px) {
    .column {
        background-color: red;
    }
}

@media (max-width: 767px) {
    .column {
        background-color: yellow;
        width: 100%;
        margin: 10px 0;
    }
}